.edit-input-box{

    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: none;
    margin: 20px;

}


.edit-input-row{

    height: 100px;
    width: 600px;
    background-color: grey;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

}