@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;600;700&display=swap');



/* Media Queries */ 


@media screen and (max-width: 900px){

    #subscriptions #subscriptions-container-div{

        height: auto;

    }

    #subscriptions-container-div #subscription-cards-container-div{

        flex-direction: column;
        height: auto;

    }

    #subscriptions-container-div #subscription-cards-container-div #basic-subscription-card{

        margin: 35px 0px 0px 0px;

    }
    
    #subscriptions-container-div #subscription-cards-container-div #premium-subscription-card{

        margin: 35px 0px 50px 0px;

    }

}



@media screen and (max-width: 480px){

    #subscriptions-container-div #subscriptions-heading-div #subscriptions-heading{

        font-size: 30px;

    }

}


@media screen and (max-width: 380px){

    #subscriptions-container-div #subscriptions-heading-div #subscriptions-heading{

        font-size: 25px;

    }

}


@media screen and (max-width: 350px){

    #subscriptions-container-div #subscriptions-heading-div #subscriptions-heading{

        font-size: 20px;
    }

    #subscriptions-container-div #subscriptions-heading-div{

        align-items: end;

    }

    #subscription-cards-container-div #basic-subscription-card{

        height: 340px;
        width: 230px;

    }
   
    #subscription-cards-container-div #premium-subscription-card{

        height: 340px;
        width: 230px;

    }

    
    #basic-subscription-card #basic-heading{

        height: 45px;
        font-size: 25px;

    }

    #premium-subscription-card #premium-heading{
        
        height: 45px;
        font-size: 25px;
        
    }

    #subscription-cards-container-div .horizontal-line{

        height: 0.5px;
        top: 48px;
    
    }
    
    #basic-subscription-card #basic-subscription-description{
        gap: 15px 0px;
        top: 70px;
    }
    
    #premium-subscription-card #premium-subscription-description{
        gap: 15px 0px; 
        top: 95px; 
    }

    #basic-subscription-card #basic-subscription-description li{

        font-size: 13px;
        margin: 0px 22px 0px 60px; 

    }
  
    #premium-subscription-card #premium-subscription-description li{

        font-size: 13px;
        margin: 0px 24px 0px 53px; 

    }

    #subscription-cards-container-div .green-tick{
        height: 20px;
        width: 20px;
    }
    
    #subscription-cards-container-div .red-cross{
        height: 18px;
        width: 18px;
    }


    #basic-subscription-card #basic-green-tick-1{
        top: 67px;
        left: 20px;
    }

    #basic-subscription-card #basic-green-tick-2{
        top: 100px;
        left: 20px;
    }

    #basic-subscription-card #basic-green-tick-3{
        top: 158px;
        left: 20px;
    }


    #basic-subscription-card #basic-red-cross-1{
        top: 220px;
        left: 24px;
    }

    #basic-subscription-card #basic-red-cross-2{
        top: 280px;
        left: 24px;
    }


    #premium-subscription-card #premium-green-tick-1{
        top: 91px;
        left: 20px;
    }

    #premium-subscription-card #premium-green-tick-2{
        top: 131px;
        left: 20px;
    }

    #premium-subscription-card #premium-green-tick-3{
        top: 184px;
        left: 20px;
    }

    #premium-subscription-card #premium-green-tick-4{
        top: 244px;
        left: 20px;
    }


}


#subscriptions{
    position: relative;
}


#subscriptions-container-div{

    width: 100vw;
    height: 100vh;

}

#subscriptions-heading-div{

    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: start;

}


#subscriptions-heading{

    font-size: 36px;
    color: #3E3E3E;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

}


#subscription-cards-container-div{

    width: 100vw;
    height: calc(100vh - 165px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px 180px;
}

#basic-subscription-card{
    
    height: 400px;
    width: 300px;
    
    border-radius: 0px 30px; 
    background-color: white;
    
    position: relative;

}

#premium-subscription-card{
    
    height: 400px;
    width: 300px;

    border-radius: 0px 30px; 
    background-color: white;

    position: relative;

}

.horizontal-line{

    display: block;

    background-color: black;
    width: 100%;
    height: 1px;

    position: absolute;
    top: 60px;

}

#basic-heading{

    padding: 0;
    margin: 0;

    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    font-size: 32px;
    
    color: #ffd600;
    text-shadow: 1.3px 1px 1px #000000;
    
}

#premium-heading{

    padding: 0;
    margin: 0;

    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    font-size: 32px;

    color: #00d1ff;
    text-shadow: 1.3px 1px 1px #000000;

}


#basic-subscription-description{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px 0px;

    position: absolute;
    top: 90px;

}

#basic-subscription-description li{

    font-size: 16px;
    list-style-type: none; 
    margin: 0px 30px 0px 70px; 

}

#premium-subscription-description{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px 0px;

    position: absolute;
    top: 110px;

}

#premium-subscription-description li{

    font-size: 16px;
    list-style-type: none; 
    margin: 0px 30px 0px 70px; 

}


.green-tick{
    height: 35px;
    width: 35px;
}

#premium-green-tick-1{
    position: absolute;
    top: 102px;
    left: 20px;
}

#premium-green-tick-2{
    position: absolute;
    top: 150px;
    left: 20px;
}

#premium-green-tick-3{
    position: absolute;
    top: 212px;
    left: 20px;
}

#premium-green-tick-4{
    position: absolute;
    top: 295px;
    left: 20px;
}


#basic-green-tick-1{
    position: absolute;
    top: 82px;
    left: 20px;
}

#basic-green-tick-2{
    position: absolute;
    top: 128px;
    left: 20px;
}

#basic-green-tick-3{
    position: absolute;
    top: 192px;
    left: 20px;
}

.red-cross{
    height: 25px;
    width: 25px;
}

#basic-red-cross-1{
    position: absolute;
    top: 262px;
    left: 25px;
}

#basic-red-cross-2{
    position: absolute;
    top: 345px;
    left: 25px;
}



.bold{

    font-weight: bold;

}