/* Logo */


#logo-button-container{
    padding: 10px 0px 10px 20px;
}

#logo-button{
    
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    
    border-radius: 25px;
    border: none;
    background-color: transparent;

}


#cursor-mask{

    position: absolute;

    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;

}


#logo-button img{

    height: 55px;
    width: 76px;

}



/*  Nav-List */


#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlist{

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    

    min-width: 680px;

    height: 45px;
    overflow: hidden;
    
    padding: 0;
    margin: 0;

    background-color: white;
    border-radius: 50px;

    box-shadow: 1px 2px 4px 1px #BFBFBF;

}

#navlist li{
    
    font-size: 16px;
    color: black;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#navlist-start{
    padding: 0px 0px 0px 40px; 
}

#navlist-end{
    padding: 0px 40px 0px 0px; 
}



#navlist li:hover{
    color: #268B0C;
    font-size: 18px; 
    cursor: pointer; 
}


/* This is for stopping the content shift in navigation bar when the data on which you're hovering is increasing in size */ 

#navlist li::after{
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    font-size: 18px;
}


/* Settings Button */


#settings-button-container{
    padding: 10px 20px 10px 0px;
}

#settings-button{

    height: 45px;
    width: 45px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;

    background-color: white;
    border: none;
    
    cursor: pointer;
}

#settings-button img{

    height: 35px;
    width: 35px;

}